HnooDang/HangMan/HangMan.suo
HnooDang/HangMan/HangMan/bin
HnooDang/HangMan/HangMan/obj
HnooDang/picture/teddybear/Thumbs.db
HnooDang/HangMan/HangMan.vsmdi
HnooDang/HangMan/Local.testsettings
HnooDang/HangMan/TraceAndtestImpact.testsettings
